body {
    padding-top: 80px; /* Ajusta según el tamaño de tu navbar */
  }
  
  .container {
    animation: fadeIn 0.8s ease-in-out;
  }

  .contenedor1{
    padding-top: 80px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  