.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la pantalla */
  }

  .main-container {
    width: 100%;
    max-width: 500px; /* Ancho máximo del formulario */
    background-color: #f8f9fa; /* Color de fondo suave */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }