/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: 'hp'; /*Nombre fuente*/
    src:url(./assets/HARRYP__.TTF); 
    font-weight: bold;
    font-style: bold;

}

p{
    font-family: 'hp';
    font-weight: bold;
}

