/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: 'hp'; /*Nombre fuente*/
    src:url(./assets/HARRYP__.TTF); 
    font-weight: bold;
    font-style: bold;

}

p{
    font-family: 'hp';
    font-weight: bold;
}

body {
    background-color: #f4f4f4; /* Un gris claro */
    margin: 0;
    font-family: Arial, sans-serif;
}

.offcanvas {
    visibility: hidden;
    position: fixed !important;
    height: auto !important;
  }
  
  .offcanvas.show {
    visibility: visible;
  }
