<app-navbar></app-navbar>  
<app-pages-wiki></app-pages-wiki> 

<!-- Parte para imprimir las pociones -->
<div class="d-flex justify-content-center mt-4">
  <div class="container mt-4">
    <div class="row g-4">
      <div class="col-md-3" *ngFor="let potion of potions">
        <div class="card card-hover h-100" style="width: 100%;"> 
          <img [src]="potion.attributes.image" class="card-img-top img-fluid" (error)="setDefaultImage($event)">
          <div class="card-body">
            <h5 class="card-title">{{ potion.attributes.name }}</h5>
            <p class="card-text">{{ potion.attributes.effect }}</p>
            <p class="card-text">{{ potion.attributes.slug }}</p>
            <p class="card-text">{{ potion.attributes.time }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">difficulty: {{ potion.attributes.difficulty }}</li>
            <li class="list-group-item">ingredients: {{ potion.attributes.ingredients }}</li>
            <li class="list-group-item">Creator: {{ potion.links.self }}</li>
          </ul>
          <div class="card-body">
            <a [href]="" target="_blank" class="card-link">More Info</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Botones centrados al final del contenedor -->
    <div class="row">
      <div class="col-12 text-center mt-4">
        <button type="button" class="btn btn-danger" (click)="imprimirPociones()">Mostrar más Pociones ⚗️</button>
      </div>
    </div>
  </div>
</div>

<app-sidebar-menu></app-sidebar-menu>
<app-sidebar-carrito></app-sidebar-carrito>


